.index.hour_logs
  = will_paginate @hour_logs
  = render :partial => 'shared/search_by_date'
  .summary
    = current_search.count
    entries,
    = "%0.2f" % to_hours( current_search.sum(:minutes))
    total hours

  %ul
    = render :partial => 'hour_logs/list/hour_log', :collection => @hour_logs
  = will_paginate @hour_logs
