- content_for :header do 
  .list_controls
    = render :partial => 'shared/search_by_date'
    .summary
      = current_search.count
      entries,
      = "%0.2f" % to_hours( current_search.sum(:minutes))
      total hours

.index.hour_logs
  %ul.totals
    = render :partial => 'project_total', :collection => @project_totals

  = will_paginate @hour_logs
  %ul
    = render :partial => 'hour_logs/list/hour_log', :collection => @hour_logs
  = will_paginate @hour_logs
