- content_for :header do 
  .span-6
    = render :partial => 'shared/search_by_date'

= render :partial => 'summary'
%h3.summary_header Summary By Project

%ul#summary_by_project
  = render :partial => 'project_total', :collection => @project_totals

= will_paginate @hour_logs
%ul.searchable
  = render :partial => 'hour_logs/list/hour_log', :collection => @hour_logs
= will_paginate @hour_logs


- content_for :javascript_onload do
  show_toggle($('#summary_by_project'), $('.summary_header'));
  $('.summary_header').click( function(ev) { 
  show_toggle($('#summary_by_project'), $('.summary_header'));
  return false;
  } );

