%li.standard
  - if contact.name
    %h4.name
      = contact.name

  .email
    = contact.email

  - if contact.phone
    .phone
      = contact.phone

  - if contact.project
    .project
      = contact.project.organization

  = render :partial => 'menu', :locals => { :contact => contact }
  - if contact.tickets
    %h4 Tickets Received
    %ul.tickets
      - contact.tickets.each do |ticket|
        %li
          = link_to ticket.subject, ticket_path(ticket), :class => 'ticket_preview_toggle'
          = ticket.created_at.strftime '%Y-%m-%d'
          .preview

