.name
  = contact.name
.email
  = contact.email
.phone
  = contact.phone
- if contact.project
  .project
    = contact.project.organization
- if contact.contact_type
  .meta
    = contact.contact_type
= link_to "Edit", edit_contact_path( contact ), :class => 'edit button', :title => "Edit"
