.name
  = project.name
.organization
  = link_to project.organization, project_path(project)
  = link_to "Edit", edit_project_path( project ), :class => 'button edit', :title => 'Edit'
.url
  = project.url
.contacts
  %ul
    = render :partial => 'contacts/list/contact', :collection => project.contacts
