!!!
%head
  %title
    = @controller.action_name.titleize
    \-
    = @controller.controller_name.titleize
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'sidebar'
  = stylesheet_link_tag 'ui'
%body
  #container
    #header
      = render 'layouts/menu'
      = yield :header
      #remote_action
    #main
      #content
        = yield
      - if sidebar_html = yield( :sidebar )
        #sidebar
          = sidebar_html
    #footer
      logged in as
      = controller.current_user.name
      = button_to "Logout", login_path, :method => :delete

    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery/jquery-1.2.6.js'
    = javascript_include_tag 'jquery/jquery.ui-1.5.1/ui/ui.core.js'
    = javascript_include_tag 'jquery/jquery.ui-1.5.1/ui/ui.draggable.js'
    = javascript_include_tag 'jquery/jquery.ui-1.5.1/ui/ui.droppable.js'
    - javascript_tag do
      $( function() {
      = yield :javascript_onload
      }) ;
