!!!
%head
  %title
    = @controller.action_name.titleize
    \-
    = @controller.controller_name.titleize
  = stylesheet_link_tag 'application'
%body
  #container
    #header
      = render 'layouts/menu'
      = yield :header
    #main
      #action_bar
        = yield :action_bar
      #content
        = yield
    #footer

    = yield :javascript
