%ul#main_menu
  %li
    = link_to "Tickets",  tickets_path
  %li
    = link_to "Agents",   agents_path
  %li
    = link_to "Contacts", contacts_path
  %li
    = link_to "Hours",    hour_logs_path
  %li
    = link_to "Projects", projects_path
