%ul#main_menu
  %li
    = link_to "Tickets",  tickets_path
  %li
    = link_to "Agents",   agents_path
  %li
    .group
      = link_to "Contacts", contacts_path
      = link_to "New Contact", new_contact_path, :class => "button add", :title => 'New Contact'
  %li
    .group
      = link_to "Hours",    hour_logs_path
      = link_to "New Hour Log", new_hour_log_path, :class => "button add", :title => 'New Hour Log'
  %li
    .group
      = link_to "Projects", projects_path
      = link_to "New Project", new_project_path, :class => "button add", :title => 'New Project'
