.span-6.large
  - if controller.action_name == 'index'
    .search.js-hidden
      = text_field_tag :search_index, "Find in List", :id => 'find_searchables'

.span-12.large
  %ul#main_menu
    %li
      = link_to "Tickets",  tickets_path
      .empty.button
    %li
      = link_to "Agents",   agents_path
      .empty.button
    %li
      = link_to "Contacts", contacts_path
      = link_to "add", new_contact_path, :class => "add button", :title => 'New Contact'
    %li
      = link_to "Hours",    current_month_path
      = link_to "add", new_hour_log_path, :class => "add button", :title => 'New Hour Log'
    %li
      = link_to "Projects", projects_path
      = link_to "add", new_project_path, :class => "add button", :title => 'New Project'

  

- content_for :javascript_onload do 
  :plain
    $("body").click( function( ev ){ if( $(ev.target).is('.add')) return add_action(ev); return true; } );

    $('#find_searchables').focus( 
        function( ev ) { $(ev.target).val( '' ); search_all( '' ); } 
      ).keyup( 
        function( ev ) { 
          var pending = $(ev.target).attr('search');
          if( pending != undefined) clearTimeout( pending );
          $(ev.target).attr('search', setTimeout( function() { search_all( $(ev.target).val() ); }, 200 )); 
        } 
      );
